@using MvcPL.ViewModels
@model IEnumerable<AccountViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All accounts</h2>

<table class="table">
    <tr>
        <td>Number</td>
        <td>Type</td>
        <td>Balance</td>
        <td>Bonus Points</td>
    </tr>
    @foreach(var account in Model)
    {
        <tr onclick="location.href = '@Url.Action("Details", "Account", new { Id = account.Id })'">
            <td>@account.Number</td>
            <td>@account.AccountTypeId</td>
            <td>@account.Balance.ToString("c")</td>  
            <td>@account.BonusPoints</td>
        </tr>
    }
</table>

